---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/287676/historical/24?apikey=<ACCU_WEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.1fcb6068.1724144818.1cb9b298
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-20T11:58:00+03:00","EpochTime":1724144280,"WeatherText":"Rain
        shower","WeatherIcon":18,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":true,"Temperature":{"Metric":{"Value":18.9,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/cheboksary/287676/current-weather/287676?lang=en-us","Link":"http://www.accuweather.com/en/ru/cheboksary/287676/current-weather/287676?lang=en-us"},{"LocalObservationDateTime":"2024-08-20T10:58:00+03:00","EpochTime":1724140680,"WeatherText":"Partly
        sunny","WeatherIcon":3,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":20.0,"Unit":"C","UnitType":17},"Imperial":{"Value":68.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/cheboksary/287676/current-weather/287676?lang=en-u[...]
