---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/287676?apikey=<ACCU_WEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.4a853417.1724144299.720e65f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-20T11:52:00+03:00","EpochTime":1724143920,"WeatherText":"Rain
        shower","WeatherIcon":18,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":true,"Temperature":{"Metric":{"Value":18.9,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/cheboksary/287676/current-weather/287676?lang=en-us","Link":"http://www.accuweather.com/en/ru/cheboksary/287676/current-weather/287676?lang=en-us"}]'
  recorded_at: Tue, 20 Aug 2024 08:58:19 GMT
recorded_with: VCR 6.3.0
